<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>Demand Corner</title>
		<meta name="description" content="A search input that morphs into a fullscreen search page." />
		<meta name="keywords" content="search, input, effect, morph, transition, inspiration" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:100,700,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.2.0/css/font-awesome.min.css'%}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css'%}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css'%}" />
		
		
		
				<script src="{% static 'js/snap.svg-min.js'%}"></script>
				
				
	<!-- 	<link rel="stylesheet" type="text/css" href="{% static 'css/component_quote.css'%}" /> -->
		
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js'%}"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<aside class="sidebar clearfix">
			
			
				<nav>
				 <a href="#"  style="font-size:0.7em"><i class="fa fa-fw fa-sign-in"> </i> Sign in</a><br>
 					 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
     </li>
   {% endif %}
   </ul>
 </p>
					<a href="#"><i class="fa fa-fw fa-facebook"> </i> 	</a>
					<a href="#"><i class="fa fa-fw fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-fw fa-twitter"></i></a>
					<a href="#"><i class="fa fa-fw fa-flickr"></i></a>
				</nav>
			</aside>
			<div id="morphsearch" class="morphsearch">
				<form class="morphsearch-form">
					<input class="morphsearch-input" type="search" placeholder="Search Ur menu"/>
					<button class="morphsearch-submit" type="submit">Search</button>
				</form>
				<div class="morphsearch-content">
					<div class="dummy-column">
						<h2>Top Dishes</h2>
						<a class="dummy-media-object" href="#">
							<img class="round" src="{% static 'img/thumbs/hotel2.jpg'%}" alt="Sara Soueidan"/>
							<h3>DONUT PASTRY</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img class="round" src="{% static 'img/thumbs/hotel1.jpg'%}" alt="Rachel Smith"/>
							<h3>CARROT CAKE</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img class="round" src="{% static 'img/thumbs/hotel.jpg'%}" alt="Peter Finlan"/>
							<h3>TOOTSIE ROLL MARSHMALLOW</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img class="round" src="{% static 'img/thumbs/hotel1.jpg'%}" alt="Patrick Cox"/>
							<h3>Cream gummi bears</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img class="round" src="{% static 'img/thumbs/hotel2.jpg'%}" alt="Tim Holman"/>
							<h3>TOFFEE SOUFFLÉ CHOCOLATE BAR</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img class="round" src="{% static 'img/thumbs/hotel.jpg'%}" alt="Shaun Dona"/>
							<h3>PIE WAFER BROWNIE</h3>
						</a>
					</div>
					<div class="dummy-column">
						<h2>TOP MENUS</h2>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/non_veg.jpg'%}" alt="PagePreloadingEffect"/>
							<h3>Non-Vegetarian</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/veg.jpg'%}" alt="ArrowNavigationStyles"/>
							<h3>Vegetarian</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/japanese.jpg'%}" alt="HoverEffectsIdeasNew"/>
							<h3>Chinese</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/chinese.jpg'%}" alt="FreebieHalcyonDays"/>
							<h3>Japanese</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/french.jpg'%}" alt="ArticleIntroEffects"/>
							<h3>Italian</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/japanese.jpg'%}" alt="DraggableDualViewSlideshow"/>
							<h3>French</h3>
						</a>
					</div>
					<div class="dummy-column">
						<h2>OFFERS</h2>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/win.jpg'%}" alt="TooltipStylesInspiration"/>
							<h3>Win a Trip</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/offer.jpg'%}" alt="AnimatedHeaderBackgrounds"/>
							<h3>Weekdays Lunch 50% off!!</h3>
						</a>
						<a class="dummy-media-object" href="3">
							<img src="{% static 'img/thumbs/coupons.jpg'%}" alt="OffCanvas"/>
							<h3>$500 Worth Vouchers</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/hotel1.jpg'%}" alt="TabStyles"/>
							<h3>Party Offers</h3>
						</a>
						<a class="dummy-media-object" href="#">
							<img src="{% static 'img/thumbs/hotel2.jpg'%}" alt="ResponsiveSVGs"/>
							<h3>Special Member Discounts</h3>
						</a>
	
					</div>
				</div><!-- /morphsearch-content -->
				<span class="morphsearch-close"></span>
			</div><!-- /morphsearch -->
			
			<header class="codrops-header">
			<a href="index.html"><h1>Demand Corner <span>Demand your menu, any where ,any time...</span></h1></a>
			</header>
			
			
			<div class="main">
			
			
			<div class="stack" style="float:left;display: inline-flex;">
	<ul id="elasticstack" class="stack__images">
		<li><img src="{% static 'img/thumbs/slid1.jpg'%}" alt="01"/></li>
		<li><img src="{% static 'img/thumbs/slid2.jpg'%}" alt="01"/></li>
		<li><img src="{% static 'img/thumbs/slid3.jpg'%}" alt="01"/></li>
		<li><img src="{% static 'img/thumbs/slid4.jpg'%}" alt="01"/></li>
		<li><img src="{% static 'img/thumbs/slid5.jpg'%}" alt="01"/></li>
		<li><img src="{% static 'img/thumbs/slid6.jpg'%}" alt="01"/></li>
		<li><img src="{% static 'img/thumbs/slid7.jpg'%}" alt="01"/></li>
		<li><img src="{% static 'img/thumbs/slid8.jpg'%}" alt="01"/></li>
	</ul>
	<button id="stack-next" class="stack__next"><i class="icon icon-down"></i><span>Next</span></button>
	<ul id="stack-titles" class="stack__titles">
		<li class="current">
			<blockquote>
			  <p>Cocktails made with kaya; local microbrewery beers; cider and wines with Lion City connections (and served here) – we help you get your drink on, starting at $12.</p>
			  <footer><a href="#"> 50 drinks you must have in Singapore</a></footer>
			</blockquote>
		</li>
		<li>
			<blockquote>
			  <p>Yes, there is good and cheap food to be had in Singapore's famous shopping belt. We hunt them down just for you</p>
			  <footer><a href="#">The best meals on Orchard Road under $6</a>  </footer>
			</blockquote>
		</li>
		<li>
			<blockquote>
			  <p>Book a table at these certified halal restaurants. We round up choices to suit several palates. From authentic Malay eats, to Swedish fare and a buffet.</p>
			  <footer><a href="# ">9 halal restaurants to book online</a>  </footer>
			</blockquote>
		</li>
		<li>
			<blockquote>
			  <p>The Golden Arches celebrates its third National Breakfast Day in Singapore with a morning giveaway</p>
			  <footer><a href="# ">McDonald's to give away 120,000 free Egg McMuffins</a></footer>
			</blockquote>
		</li>
		<li>
			<blockquote>
			  <p>In this weekly column, HungryGoWhere's editor, Celine Asril, recommends her top picks. This week: a history lesson on cocktails</p>
			  <footer><a href=" #">The food editor recommends...</a>  </footer>
			</blockquote>
		</li>
		<li>
			<blockquote>
			  <p>From bentos and wafers, to pasta in the iconic cat’s shapes, puddings and cake pops – we just can’t get enough of Hello Kitty</p>
			  <footer><a href=" #"> Hello Kitty foods to eat, buy and make</a> </footer>
			</blockquote>
		</li>
				<li>
			<blockquote>
			  <p>In this weekly column, HungryGoWhere's editor, Celine Asril, recommends her top picks. This week: a history lesson on cocktails</p>
			  <footer><a href=" #">The food editor recommends...</a>  </footer>
			</blockquote>
		</li>
		<li>
			<blockquote>
			  <p>From bentos and wafers, to pasta in the iconic cat’s shapes, puddings and cake pops – we just can’t get enough of Hello Kitty</p>
			  <footer><a href=" #"> Hello Kitty foods to eat, buy and make</a> </footer>
			</blockquote>
		</li>
	</ul>
</div><!-- /stack -->

	
	
	
	
 
			
			<div id="quick_booking">
			<h2> Quick Booking</h2>
			<div id="nl-form" class="nl-form">
					I feel like eating
					<select>
						<option value="1" selected>any food</option>
						<option value="2">Indian</option>
						<option value="3">French</option>
						<option value="4">Japanese</option>
						<option value="2">Italian</option>
					</select>
					<br />in a
					<select>
						<option value="1" selected>standard</option>
						<option value="2">fancy</option>
						<option value="3">hip</option>
						<option value="4">traditional</option>
						<option value="2">romantic</option>
					</select>
					restaurant
					<br /> 
					<select>
						<option value="1" selected>anytime</option>
					 	<option value="1">at 7 p.m.</option>
					 	<option value="2">at 8 p.m.</option>
					 	<option value="3">at 9 p.m.</option>
					</select>
					in <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
					<div class="nl-submit-wrap">
						<a href="menu.html"><button class="nl-submit" >Book Now</button></a>
					</div>
					<div class="nl-overlay"></div>
			<!-- 	</form> -->
			
			
				</div>
				
				
				
				

			</div>
			
			
			
			
			
			
			<header class="">
			
			<div id="cbp-qtrotator" class="cbp-qtrotator">
	<div class="cbp-qtcontent">
		<img src="{% static 'img/thumbs/hotel2.jpg'%}" alt="img01" />
		<blockquote>
		  <p>Lunch Combo - 
		   Full meals Pack for one week!!</p>
		  
		  <footer>$12  only  60% OFF	</footer>
		</blockquote>
	</div>
		<div class="cbp-qtcontent">
		<img src="{% static 'img/thumbs/chinese.jpg'%}" alt="img01" />
		<blockquote>
		  <p>Party Offeres - 50% Discount </p>
		  <footer>For all parties bigger than 10 in size</footer>
		</blockquote>
	</div>
		<div class="cbp-qtcontent">
		<img src="{% static 'img/thumbs/french.jpg'%}" alt="img01" />
		<blockquote>
		  <p>Festival Season Delivery !!!</p>
		  <footer>Free for Totals above $50 </footer>
		</blockquote>
	</div>

 
 
 
</div>
			<ul id="cbp-tm-menu" class="cbp-tm-menu">
			
			
				<li>
					<a href="#">Home</a>
				</li>
				<li class="">
					<a href="#">Demand Menu</a>
					<ul class="cbp-tm-submenu">
					<li><a href="custom_menu.html">  <i class="fa fa-fw fa-cutlery"></i>Custom Menu </a></li>
						<li><a href="#"><i class="fa fa-fw fa-usd"></i>Biddings</a></li>
						<li><a href="dishes.html" ><i class="fa fa-fw fa-ge"></i>Vegetatian</a></li>
						<li><a href="dishes.html"><i class="fa fa-fw fa-github-alt"></i>Non-Vegetarian</a></li>
						<li><a href=dishes.html><i class="fa fa-fw fa-inbox"></i>Snacks Packs</a></li>
						
						
					</ul>
				</li>

				<li class="">
					<a href="#">Find My Flavour</a>
					<ul class="cbp-tm-submenu">
					<li><a href="dishes.html"><i class="fa fa-fw fa-map-marker"> </i>Italian</a></li>
						<li><a href="dishes.html"><i class="fa fa-fw fa-map-marker"> </i>North Indian</a></li>
						<li><a href="dishes.html"><i class="fa fa-fw fa-map-marker"> </i>South Indian</a></li>
						<li><a href="dishes.html"> <i class="fa fa-fw fa-map-marker"> </i>Chinese </a></li>
						<li><a href="dishes.html" ><i class="fa fa-fw fa-map-marker"> </i>Japanese</a></li>
						<li><a href="dishes.html" ><i class="fa fa-fw fa-map-marker"> </i>French</a></li>
					</ul>
				</li>
 
 
			</ul>
			</header>


 



			<div class="overlay"></div>
		</div><!-- /container -->
		<script src="{% static 'js/classie.js'%}"></script>
		<script>
			(function() {
				var morphSearch = document.getElementById( 'morphsearch' ),
					input = morphSearch.querySelector( 'input.morphsearch-input' ),
					ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
					isOpen = isAnimating = false,
					// show/hide search area
					toggleSearch = function(evt) {
						// return if open and the input gets focused
						if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

						var offsets = morphsearch.getBoundingClientRect();
						if( isOpen ) {
							classie.remove( morphSearch, 'open' );

							// trick to hide input text once the search overlay closes 
							// todo: hardcoded times, should be done after transition ends
							if( input.value !== '' ) {
								setTimeout(function() {
									classie.add( morphSearch, 'hideInput' );
									setTimeout(function() {
										classie.remove( morphSearch, 'hideInput' );
										input.value = '';
									}, 300 );
								}, 500);
							}
							
							input.blur();
						}
						else {
							classie.add( morphSearch, 'open' );
						}
						isOpen = !isOpen;
					};

				// events
				input.addEventListener( 'focus', toggleSearch );
				ctrlClose.addEventListener( 'click', toggleSearch );
				// esc key closes search overlay
				// keyboard navigation events
				document.addEventListener( 'keydown', function( ev ) {
					var keyCode = ev.keyCode || ev.which;
					if( keyCode === 27 && isOpen ) {
						toggleSearch(ev);
					}
				} );

				
				

				/***** for demo purposes only: don't allow to submit the form *****/
				morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
			})();
		</script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
					<script src="{% static 'js/modernizr.custom.js'%}"></script>
					<script src="{% static 'js/modernizr.custom_quote.js'%}"></script>
					<script src="{% static 'js/modernizr.custom_elastic_slider.js'%}"></script>
					<script src="{% static 'js/nlform.js'%}"></script>
					<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>
					
		<script src="{% static 'js/jquery.cbpQTRotator.min.js'%}"></script>
		<script>
			$( function() {
				
				//- how to call the plugin:
				$( '#cbp-qtrotator' ).cbpQTRotator( {
					// default transition speed (ms)
					speed : 1500,
					// default transition easing
					easing : 'ease',
					// rotator interval (ms)
					interval : 4000
				});
				
				
			//	- destroy:
			//	$( selector ).cbpQTRotator( 'destroy' );
				

			//	$( '#cbp-qtrotator' ).cbpQTRotator();

			} );
		</script>
		
 
			 

<script src="{% static 'js/cbpTooltipMenu.min.js'%}"></script>
		<script>
			var menu = new cbpTooltipMenu( document.getElementById( 'cbp-tm-menu' ) );
		</script>
		<script src="{% static 'js/draggabilly.pkgd.min.js'%}"></script>
		<script src="{% static 'js/elastiStack.js'%}"></script>
		<script>
			(function() {
				var body = document.body,
					titles = [].slice.call( document.querySelectorAll( '#stack-titles > li' ) ),
					totalTitles = titles.length,
					stack = new ElastiStack( document.getElementById( 'elasticstack' ), {
						onUpdateStack : function( idx ) {
							classie.remove( titles[idx === 0 ? totalTitles - 1 : idx - 1], 'current' );
							classie.add( titles[idx], 'current' );
						}
					} ),
					shapeEl = document.getElementById( 'morph-shape' ),
					s = Snap( shapeEl.querySelector( 'svg' ) ),
					pathEl = s.select( 'path' ),
					paths = { 
						reset : pathEl.attr( 'd' ),
						next  : shapeEl.getAttribute( 'data-morph-next' )
					};

				document.getElementById( 'stack-next' ).addEventListener( 'mousedown', nextItem );
				
				function nextItem() {
					classie.add( body, 'animating' );
					classie.add( body, 'navigate-next' );
					pathEl.stop().animate( { 'path' : paths.next }, 450, mina.easeinout, function() {
						classie.remove( body, 'navigate-next' );
						stack.nextItem( { transform : 'translate3d(0,-60px,400px)' } );
						pathEl.stop().animate( { 'path' : paths.reset }, 100, mina.easeout, function() {
							classie.remove( body, 'animating' );
						} );
					} );
				}
			})();
		</script>
	</body>
</html>
