{% extends "hungry/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} {% endblock %}
{% block head %}Login{% endblock %}


{% block content %}




{% if top_products %}




			
			
			<div class="stack" style="float:left;display: inline-flex;">
			
	<ul id="elasticstack" class="stack__images">
		{% for top_product in  top_products %}
		   {% with image=top_product.primary_image %}
                {% thumbnail image.original "x410" upscale=False as thumb %}
                    <li><img src="{{ thumb.url }}" alt="{{ top_product.get_title }}"/></li>
                    {% endthumbnail %}
                {% endwith %}
	 
	{% endfor  %}
	
	
  
	</ul>
	<button id="stack-next" class="stack__next"><i class="icon icon-down"></i><span>Next</span></button>
	<ul id="stack-titles" class="stack__titles">
	{% for top_product in  top_products %}
	<li {% if forloop.counter == 1 %} class="current" {% endif %} >
			<blockquote>
			
			  <p>
			  {% autoescape off %}
			  {{ top_product.description |truncatewords:20}}
			  {% endautoescape %}
			  </p>
			  <footer><a href="{{ top_product.get_absolute_url }}">{{ top_product.get_title }}</a></footer>
			</blockquote>
		</li>
		{% endfor  %}
	
	
 
	 
	</ul>
	

</div><!-- /stack -->

{% endif %}


	
	
	
	
 
			
			<div id="quick_booking"  style="min-width:25%;max-width:34%">
			<h2> <b>Quick Booking</b></h2>
			<div id="nl-form" class="nl-form">
					I feel like eating
			<input type="text" value="" placeholder="any food" data-subline="For example: <em>Chilly Chicken</em> or <em>Prawn Fry</em>"/>
			within <select>
			<option>days</option>
			<option>one</option>
			<option>two</option>
			<option>three</option>
			<option>four</option>
			<option>five</option>
			<option>six</option>
			
			</select> 
			days.
			
					 
					<div class="nl-submit-wrap">
						<a href="#"><button class="nl-submit" >Book Now</button></a>
					</div>
					<div class="nl-overlay"></div>
			<!-- 	</form> -->
			
			
				</div>
				
				
				
				

			</div>
			
			
			<br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br>
			<div class="row col-md-12  text-center"  style="position:relative;bottom:-105px">
			
				<a href="terms/conditions/" >Terms and Conditions</a> &emsp; &emsp;
				<a href="terms/delivery/" >Delivery and Shipping policy</a>&emsp; &emsp;
				<a href="terms/privacy" >Privacy policy</a>&emsp; &emsp;
			</div>
			
			
			
			
			
			



 



			<div class="overlay"></div>
 
{% endblock %}

{% block body_class %}class="home_page"{% endblock %}

{% block scripts %}
					

					<script src="{% static 'js/modernizr.custom_elastic_slider.js'%}"></script>
					
					<script src="{% static 'js/nlform.js'%}"></script>
					<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>
					

				<script src="{% static 'js/draggabilly.pkgd.min.js'%}"></script>
		<script src="{% static 'js/elastiStack.js'%}"></script>
		<script>
			(function() {
				var body = document.body,
					titles = [].slice.call( document.querySelectorAll( '#stack-titles > li' ) ),
					totalTitles = titles.length,
					stack = new ElastiStack( document.getElementById( 'elasticstack' ), {
						onUpdateStack : function( idx ) {
							classie.remove( titles[idx === 0 ? totalTitles - 1 : idx - 1], 'current' );
							classie.add( titles[idx], 'current' );
						}
					} )
			})();
		</script>
{% endblock %}
