{% extends "base.html" %}
{% load i18n %}
{% load promotion_tags %}
{% load category_tags %}
{% load staticfiles %}

{% block layout %}

    <header class="header container-fluid">
        <div class="page_inner">
            <div class="row-fluid">
                <a href="{% url 'index' %}" class="home_to_door_link">
				<h1>
					<img src="{% static 'img/door_logo.png'%}"
						style="width: 249px; margin: 26px 26px 0px 26px"><br>
					<span class="home_to_door_moto">Demand your menu, any where ,any time...</span>
				</h1>
			</a> 
				
				<!-- {% include "partials/brand.html" %} -->
                {# Mini-basket wrapped in a block so some templates can now display it #}
                {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
                
                
            </div><!-- /row-fluid -->
        </div>
        {% block checkout_nav %}{% endblock %}
    </header><!-- /header -->

    <div class="container-fluid page">
       <div class="page_inner">
            {% include 'partials/alert_messages.html' %}

            <div class="sub-header">
                <h1>{% block checkout_title %}{% endblock %}</h1>
            </div>

            <!-- The main nav on checkout pages contain links to modal flatpages -->
            {% block modal %}
                {% load flatpages %}
                {% get_flatpages '/order/' as flatpages %}
                {% for page in flatpages %}
                <div id="{{ page.title|slugify }}" class="modal hide fade">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>{{ page.title }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="large-content">
                            {{ page.content|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}

            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>
        </div><!-- /page_inner -->
    </div>
    {% include "partials/footer_checkout.html" %}
{% endblock %}
